@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
  background: url("./assets/img/plain-smooth-background.jpg"), no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

/* ---------LAYOUT-------- */

.nav-bar {
	display: flex;
	justify-content: center;
	background-color: rgba(5, 7, 12, 0.5);
}

.logo {
	width: 10rem;
	padding: 2rem 1rem 2rem 0;
  margin-right: 2rem;
	cursor: pointer;
}

ul {
	margin-right: 4rem;
	display: flex;
	align-items: center;
	list-style: none;
	text-transform: uppercase;
	gap: 15px;
}

.menuItem {
	color: #fff;
	text-decoration:none;
	text-shadow: 2px;
	font-size: 1.3rem;
	margin-right: 2rem;
  font-weight: 500;
}

.menuItem:hover{
  color: #823a64;
}

.cartLogo{
	color: #fff;
}

.cartLogo:hover{
  color: #602d4b;
  cursor: pointer;
}

.active{
  color: #823a64;
}


/* -------MAIN-------- */

.loader{
  display: block;
  margin: 35vh auto;
}

.mainContainer{
  margin-bottom: 10rem;
}

hr{
  margin-top: 2rem;
  background-color: #fff;
  height: 10px;
}

.titulo {
	color: #fff;
  text-align: center;
  margin: 3rem;
  text-shadow: 2px 2px 6px black;
}

.itemCounter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#suma-resta{
  display: flex;
  gap: 15px;
  margin-bottom: 18px;
}

.cantidad {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  width: 50px;
  font-size: large;
}

.symbolBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.card-detail{
  color: #fff;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}

.card-detail img {
  width: 30vw;
}

.cartContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.cartContainer h2 {
  margin-bottom: 3rem;
  text-decoration: underline;
  font-style: italic;
  letter-spacing: 1.5px;
}

.cardCart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cardCart img{
  width: 20vw;
}

.cardCart h4 {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
}

.remover{
  margin: 2rem;
}

.vaciar{
  margin: 5rem 0 1rem 0;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 8rem;
}

.linkBtn{
  text-decoration: none;
}

.linkBtn:hover{
  color: #fff;
}


/* ---BUTTON COMPONENT--- */

.addBtn{
  background: transparent;
  color: #fff;
  padding: 12px 12px;
  border-radius: 20px;
  border: 1px solid #fff;
  transform: translate(0);
  overflow: hidden;
	text-transform: uppercase;
  cursor: pointer;
}

.addBtn::before{
  content: "";
  position: absolute;
  background: #fff;
  width: 10px;
  top: 0;
  bottom: 0;
  left: -32px;
  transform: rotate(-16deg);
  filter: blur(6px);
}

.addBtn:hover::before{
  left: calc(100% + 32px);
  transition: 0.75s;
}


/* ---CARD COMPONENT--- */

.cardsContainer{
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-areas: "cardProduct cardProduct cardProduct cardProduct";
  color: #fff;
  margin-top: 3rem;
}

.card {
  text-align: center;
  padding: 2rem 0 2rem 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.8);
}

.categoryProduct{
  text-transform: uppercase;
  margin-top: 15px;
}

.card:hover{
  scale: 1.02;
}

.link{
  text-decoration: none;
  color: #fff;
}

.link:hover{
  color: #fff;
}